.flex {
  display: flex;
  justify-content: center;
}

.header {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  border: none;
  height: 30px;
  font-size: 18px;
}